@import '../index.scss';

.container {
    min-height: 100vh;
    width: 100%;
    margin-top: 50px;

    .main-container {
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

        &__img {
            border: 2px solid black;
        }

        &__info {
            width: 50%;
            padding: 1rem;
            & > div:nth-child(1) {
                font-size: 5rem;
                font-family: $font-display;
            }
            & > div:nth-child(2) {
                font-size: 2rem;
                margin-top: 50px;
            }
        }
    }

    .description {
        margin: 20px auto;
        padding: 20px;
        color: $color-grey-dark-3;
        width: 75%;
        &__heading {
            font-size: 3rem;
            margin-bottom: 15px;
        }
        &__text {
            font-size: 2.25rem;
        }
        border-bottom: 2px solid $color-grey-dark-2;
    }
    @media (max-width: 700px) {
        .description {
            width: 100%;
            // &__heading {
            // }
            // &__text {
            // }
        }
    }
    .specs-container {
        width: 75%;
        margin: 20px auto;
        padding: 20px;
        // margin-left: 250px;
    }
}

@media (max-width: 850px) {
    .main-container {
        flex-direction: column-reverse;

        &__info {
            width: 100% !important;
            margin-bottom: 50px;
        }
    }
}
