.container {
    padding: 100px;
    width: 100%;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 50px;
    flex-wrap: wrap;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}
