.tag {
    text-align: center;
}

.imgslider {
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
    // display: flex;
    height: 30rem;
}

.slick-slider {
}
.slider-image {
    width: 30rem;
    height: 30rem;
}
