@import '../index.scss';

.main-container {
    width: 225px;
    height: auto;
    // border: 1.5px solid $color-secondary-dark;
    box-shadow: 0 10px 25px 5px rgba($color: #000000, $alpha: 0.1);

    @include compute(transition, all 0.2s);
    &:hover {
        // @include compute(transform, translateY(-2.5px));
    }
    .container {
        // padding: 1.5rem;
        background-color: $color-grey-light-2;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        &__image {
            width: 100%;
            height: 100%;
            // border: 1px solid $color-grey-dark-2;
            img {
                width: 100%;
                height: 200px;
                // height: 90%;
            }
        }

        &__name {
            text-align: center;
            font-size: 2.25rem;
            font-weight: bold;
            color: $color-grey-dark-3;
            // @include compute(transform, translateY(-50px));
        }

        &__read-more {
            @include compute(transition, all 0.1s);
            // @include compute(transform, translateY(-50px));
            font-family: $font-display;
            font-size: 1.75rem;
            font-weight: 400;
            background-color: $color-secondary-dark;
            color: white;
            border-top: 1.75px solid $color-secondary-dark;
            padding: 15px 15px;
            width: 100%;
            text-align: center;
            &:hover {
                cursor: pointer;
                background-color: white;
                color: $color-secondary-dark;
            }
        }
    }
}
