$color-primary: #1e40af;
$color-primary-dark: #1e3a8a;
$color-primary-darker: #112458;
$color-primary-light: #2563eb;
$color-primary-lighter: #4f6fff;

$color-tertiary: #9365cc;
$color-tertiary-light: #bb8ef1;
$color-tertiary-dark: #6e28c4;

$color-secondary: #0c637e;
$color-secondary-light: #1497be;
$color-secondary-dark: #074558;

$color-white: #fff;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-black: #000;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;
