@import '../index.scss';

.card {
    width: 200px;
    @include compute('border-radius', 2.5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-inner {
        color: $color-white;
        &__heading {
            font-family: $font-display;
            font-size: 3.25rem;
            font-weight: 200;
            text-align: left;
        }
        &__content {
            text-align: left;
            margin-top: 1rem;
            font-size: 1.75rem;
        }
    }
}
