@import '../index.scss';

.container {
    position: relative;
    z-index: 100000000;
    .nav {
        color: $color-secondary;
        &-list {
            list-style: none;
            margin-left: auto;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 25px;
            padding: 20px;
            // color: $color-secondary;
            &-item {
                font-family: $font-display;
            }
        }
    }
}

.link-active {
    padding-bottom: 2px;
    // background-color: black;
    color: $color-secondary-light !important;
    border-bottom: 2px solid $color-secondary-light;
    // border-top: 2px solid $color-secondary-light;
}
