.sidebar {
    // min-height: 100vh;
    background-color: red;
    width: 100%;
    position: absolute;
    z-index: 10000000;
    &_content {
    }
}
@media (min-width: 700px) {
    .sidebar {
        display: none;
    }
    #root {
        overflow-y: hidden !important;
    }
}
