@import '../index.scss';

.specs {
    &__heading {
        font-size: 3rem;
        color: $color-grey-dark-3;
        font-weight: bold;
        margin-bottom: 15px;
    }
    &__table {
        &-content {
            font-size: 2rem;
            border-collapse: collapse;
            tbody,
            td,
            th,
            tr {
                border: 2px solid $color-grey-dark-1;
                padding: 1.25rem 2.5rem;
            }
        }
    }
}
